nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #F5F5DC;
    box-shadow: 5px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 5px 100px;
    margin-bottom: 5px;
}

.navbar__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    background-color: #F5F5DC
}

.navbar__list > li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
